.container {
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
 
}

h2, h3, h4 {
  text-align: center;
  color: #333;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

button {
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

.remove-button {
  background-color: #dc3545; /* Rosso */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #c82333;
}


h4 {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}
